@use "@/app/scss/Global/mixin" as *;

.splatoon {
  padding: 40px 0;

  @include MQ(sm) {
    padding: 20px 0;
  }

  .list {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include MQ(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include MQ(sm) {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        border: solid 1px hsl(var(--card-foreground));
        border-radius: 4px;
        overflow: hidden;
    }

    .card {
        border: none;

        .title {
            font-size: myClamp(16, 24);
        }

        .thumbnail {
            position: relative;
            .skeleton {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 0;
            }

            .image {
                position: relative;
                width: 100%;
                height: auto;
                z-index: 1;
            }
        }

        .info {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .description {
                font-size: myClamp(16, 18);
                color: hsl(var(--card-foreground)) !important;
                font-weight: 500;
                display: flex;
                gap: 10px;
                align-items: center;
            }

            .weapons {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(4, 1fr);

                .avatar {
                    width: 100%;
                    height: auto;
                }

                .tooltip {
                    background-color: #fff;
                }
            }
        }
    }
}

}
