:root {
  --color-custom-accent: #238f76;
  --color-custom-accent-reaction: #1e7b65;
  --color-surface-primary: #08131a;
  --color-surface-secondary: #5193c6;
  --color-surface-tertiary: #5a656b;
  --color-surface-like: #eb4667;
  --color-surface-success: #238f76;
  --color-surface-success-reaction: #1e7b65;
  --color-surface-danger: #bc3852;
  --color-surface-danger-reaction: #a53148;
  --color-surface-caution: #ac7a2d;
  --color-surface-disabled: rgba(0,0,0,0.1411764705882353);
  --color-surface-normal: #fff;
  --color-surface-clear: hsla(0,0%,100%,0);
  --color-surface-successSubdued: #e6f6f2;
  --color-surface-dangerSubdued: #fdf0f3;
  --color-surface-cautionSubdued: #fefbea;
  --color-surface-badge: #e4674e;
  --color-surface-offer: #e4674e;
  --color-surface-invert: #000;
  --color-surface-image-overlay: rgba(0,0,0,0.3215686274509804);
  --color-text-primary: #08131a;
  --color-text-secondary: rgba(8,19,26,0.6588235294117647);
  --color-text-clickable-icon: rgba(8,19,26,0.5019607843137255);
  --color-text-disabled: rgba(8,19,26,0.5019607843137255);
  --color-text-success: #238f76;
  --color-text-success-reaction: #1e7b65;
  --color-text-danger: #bc3852;
  --color-text-danger-reaction: #a53148;
  --color-text-caution: #c88d34;
  --color-text-like: #eb4667;
  --color-text-offer: #e4674e;
  --color-text-point: #8b7f2c;
  --color-text-invert: #fff;
  --color-text-placeholder: #888;
  --color-border-primary: #08131a;
  --color-border-default: rgba(8,19,26,0.1411764705882353);
  --color-border-weak: rgba(8,19,26,0.03137254901960784);
  --color-border-strong: rgba(8,19,26,0.2196078431372549);
  --color-border-focus: #3439c9;
  --color-border-success: #238f76;
  --color-border-danger: #bc3852;
  --color-border-caution: #c88d34;
  --color-border-invert: #fff;
  --color-background-primary: #fff;
  --color-background-secondary: #f5f8fa;
  --color-social-twitter: #000;
  --color-social-twitter-reaction: #222;
  --color-social-facebook: #1877f2;
  --color-social-facebook-reaction: #0b5fcc;
  --color-social-hatena: #00a4df;
  --color-social-hatena-reaction: #007eac;
  --color-social-line: #01b901;
  --color-social-line-reaction: #018601;
  --color-social-note: #5ac8b8;
  --color-social-note-reaction: #3cb3a2;
  --color-ambientLight: rgba(0,0,0,0.1411764705882353);
  --color-keyLight: rgba(0,0,0,0.2196078431372549);
  --color-reactionOverlay: rgba(8,19,26,0.03137254901960784);

}
