@use "@/app/scss/Global/mixin" as *;

.header {
    border-bottom: solid 1px hsl(var(--card-foreground));
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: hsl(var(--card));

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 20px;
    }

    .title {
        font-size: myClamp(20, 34);
    }

    .list {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 50%;

        .link {
            font-size: 14px;
            padding: 10px 20px;
        }
    }

    .link {
        display: flex;
        align-items: center;
        font-size: 14px;

        .icon {
            width: 100%;
            height: 20px;
        }
    }

    .inLogin {
        display: flex;
        gap: 16px;

        a {
          display: block;
        }
    }
}
